<form nz-form [formGroup]="form" (ngSubmit)="submit()">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Nome</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Campo obrigatório">
      <input nz-input id="name" formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Campo obrigatório">
      <input nz-input id="email" formControlName="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="comment" nzRequired>Comentário</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Campo obrigatório">
      <input nz-input id="comment" formControlName="comment" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Salvar</button>
    </nz-form-control>
  </nz-form-item>
</form>
